body{
    background-color: rgb(17, 136, 136);
}
.all{
  display: "flex" ,
}
#navv{
    
        border-right: "solid 1px";
        padding: "1rem",
}
#link{
    display: "block";
     margin: "1rem 0" 
}
#addlink{
    display: "block";
     margin: "1rem 0";
    font-size: "20px"
}
.studentrow{
    display: "flex";
    justify-content: space-between;
    justify-items: center;
    margin:5px;
    padding:5px
}
#deletebtn{
    background-color: rgb(246, 18, 18);
    margin:5px
}
#updatebtn{
    background-color: green;
    margin:5px;
    align-self: center;
}